services:
  db:
    image: postgres:13
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: yourpassword
      POSTGRES_DB: yourdbname
    ports:
      - "5432:5432"
    networks:
      - backend
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # 1. HTTP 전용 서버 (Gunicorn)
  web-http:
    build: .
    command: bash start.sh
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - redis
      - db
    env_file:
      - .env
    environment:
      - SERVER_TYPE=HTTP
      - TZ=Asia/Seoul
      - DJANGO_SETTINGS_MODULE=backend.settings
      - PYTHONUNBUFFERED=1
    networks:
      - backend

  # 2. WebSocket 전용 서버 (Daphne)
  web-ws:
    build: .
    command: bash start.sh
    volumes:
      - .:/code
    ports:
      - "8001:8001"
    depends_on:
      - redis
      - db
    env_file:
      - .env
    environment:
      - SERVER_TYPE=WS
      - TZ=Asia/Seoul
      - DJANGO_SETTINGS_MODULE=backend.settings
      - PYTHONUNBUFFERED=1
    networks:
      - backend

  redis:
    image: redis:7
    ports:
      - "6380:6379"
    environment:
      - TZ=Asia/Seoul
    networks:
      - backend

  celery:
    build: .
    command: celery -A backend worker -l info
    volumes:
      - .:/code
    depends_on:
      - redis
    env_file:
      - .env
    environment:
      - TZ=Asia/Seoul
      - DJANGO_SETTINGS_MODULE=backend.settings 
    networks:
      - backend

  celery-beat:
    build: .
    command: celery -A backend beat -l info
    volumes:
      - .:/code
    depends_on:
      - redis
    env_file:
      - .env
    environment:
      - TZ=Asia/Seoul
      - DJANGO_SETTINGS_MODULE=backend.settings 
    networks:
      - backend

networks:
  backend:
    driver: bridge

volumes:
  postgres_data: