version: '3.8'

services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - redis
    env_file:
      - .env
    environment:
      - TZ=Asia/Seoul

  redis:
    image: redis:7
    ports:
      - "6380:6379"
    environment:
      - TZ=Asia/Seoul

  celery:
    build: .
    command: celery -A backend worker -l info
    volumes:
      - .:/code
    depends_on:
      - redis
    env_file:
      - .env
    environment:
      - TZ=Asia/Seoul

  celery-beat:
    build: .
    command: celery -A backend beat -l info
    volumes:
      - .:/code
    depends_on:
      - redis
    env_file:
      - .env
    environment:
      - TZ=Asia/Seoul
